<div class="row">
	<form class="form-horizontal">
	  <div class="form-group">
	    <label for="theater" class="col-sm-4 control-label">Choose Theater</label>
	    <div class="col-sm-4">
	      <select class="form-control" id="theater">
	      	<option>Select</option>
	      </select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="movies" class="col-sm-4 control-label">Choose Movies</label>
	    <div class="col-sm-4">
	      <select class="form-control" id="movies">
	      	<option>Select</option>
	      </select>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button type="submit" class="btn btn-default">Book Now</button>
	    </div>
	  </div>
	</form>
</div>