<div ng-init="init()">
<h4>Theater Master</h4>
<div class="col-md-12 clearfix">
	<button class="btn btn-primary pull-right btn-xs" style="margin-bottom:10px;" ng-click="startCreating()">Create New</button>
</div>
<div class="clearfix"></div>
<div class="col-md-12" ng-if="isCreating">
	<form class="form-horizontal" name="saveForm" method="post" ng-submit="submitForm()">
		<h4>Create</h4>
		<p class="danger">{{error}}</p>
		<p class="success">{{msgs}}</p>
		<div class="form-group">
		    <label for="theaterName" class="col-md-offset-2 col-sm-2 control-label">Name</label>
		    <div class="col-sm-5" style="margin-bottom:10px;">
		      <input type="text" class="form-control" placeholder="Enter theater name" ng-model="theatername" required>
		      <input type="hidden" ng-model="id">
		    </div>
		    <div class="col-md-offset-4 col-sm-8">
		      <input type="submit" class="btn btn-primary btn-xs" id="submit" value="submit">
		      <input type="button" class="btn btn-primary btn-xs" ng-click="cancelCreating()" id="Cancel" value="Cancel">
		    </div>	
		 </div>
	</form>
</div>
<div class="col-md-12" ng-if="isEditing">
	<form class="form-horizontal" method="post" ng-submit="submitEdit()">
		<h4>Edit</h4>
		<div class="form-group">
		    <label for="theaterName" class="col-md-offset-2 col-sm-2 control-label">Name</label>
		    <div class="col-sm-5" style="margin-bottom:10px;">
		      <input type="text" class="form-control" placeholder="Enter theater name" ng-model="theatername" required>
		      <input type="hidden" ng-model="id">
		    </div>
		    <div class="col-md-offset-4 col-sm-8">
		      <input type="submit" class="btn btn-primary btn-xs" id="submit" value="submit">
		      <input type="button" class="btn btn-primary btn-xs" ng-click="cancelCreating()" id="Cancel" value="Cancel">
		    </div>	
		 </div>
	</form>
</div>
<div class="clearfix"></div>
<div class="jumbotron text-center">
	<table class="table table-hover">
 		<thead>
 			<th>S.No</th>
 			<th>Name</th>
 			<th>Status</th>
 			<th>Created on</th>
 			<th>Action</th>
 			<!-- <th class="text-center">Action</th> -->
 		</thead>
 		<tbody>
 			<tr ng-repeat="(key,value) in theaters">
 				<td class="text-left">{{key + 1}}</td>
 				<td class="text-left">{{value.name}}</td>
 				<td class="text-left" ng-if="value.status === '1'">Active</td>
 				<td class="text-left" ng-if="value.status === '0'">Deactive</td>
 				<td class="text-left">{{value.created_on}}</td>
 				<td><a ng-click="editing(value.id)" style="cursor:pointer"><i class="fa fa-pencil"></i></a> | <a ng-click="delete(value.id)" style="cursor:pointer"><i class="fa fa-trash"></i></a></td>
 				<!-- <td><button class="btn btn-primary btn-xs">Book Ticket</button></td> -->
 			</tr>
 			<tr ng-show="!theaters.length">
 				<td class="text-center">No data found</td>
 			</tr>
 		</tbody>
	</table>        
</div>
</div>